@charset "UTF-8";
/*  Обнуление  */
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(194, 160, 99);
  text-decoration: rgb(194, 160, 99) 3px underline;
}
body {
  margin: 0;
}
/*----------=====TEXT=====----------*/
.text-12px {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.text-14 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.text-16 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.text-18 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.text-21 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.text-48 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 50px;
}
.text-color-yellow {
  color: #d1a954;
}
.text-color-white {
  color: white;
}
/*----------==========----------*/
.h2-padding {
  padding: 150px 0 100px 0;
  margin: 0;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
/*----------==========----------*/
.wrapper-page {
  margin: 0 auto;
  padding: 0;
  border: 0;
  max-width: 1920px;
  min-height: 100%;
  background-color: #333333;
}
.header {
  background: url(../img/header-bg.png) no-repeat center;
  max-width: 1920px;
  height: 1045px;
  margin: 0 auto;
  position: relative;
}
.header__left-nav {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-end;
  width: 130px;
  height: 1045px;
  background: rgba(51, 51, 51, 0.9);
}
.burger_close-ico {
  display: none;
}
.left-nav__contact-info {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin: 0px 0px 60px 0;
}
.left-nav__vert-line {
  width: 80px;
  border: 2px solid #c4c4c4;
  transform: rotate(90deg);
  margin: 35px 0px 85px 0;
}
.left-nav__social-box {
  height: 220px;
  justify-content: space-between;
}
.left-nav__social-link {
  padding: 10px;
}
.left-nav__social-link:hover {
  color: #d1a954;
}
.left-nav__burger {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 20;
  text-align: center;
  display: none;
  padding: 10px;
  cursor: pointer;
}
.header__content {
  margin: auto;
  height: 1045px;
  max-width: 1110px;
  justify-content: space-between;
}
.header__menu {
  justify-content: space-between;
  height: 125px;
  max-width: 1110px;
}
.header__menu-items {
  justify-content: space-evenly;
  width: 824px;
}

.header__content-logo-wrap {
  height: 920px;
}
.header-content__logo-info {
  max-width: 90%;
}
.header__content-theater {
  width: 63%;
  height: 920px;
  align-items: flex-start;
}
.theater-btn-poster {
  width: 160px;
  height: 50px;
  background: #d1a954;
  margin-top: 50px;
}
.header__content__book {
  width: 37%;
  height: 920px;
}
.book__nav {
  width: 350px;
  margin-top: 30px;
  justify-content: space-between;
}
/*----------==========----------*/
.section {
  max-width: 1920px;
  height: 100%;
}
.section__container {
  max-width: 1110px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}
.container__flex_item-1 {
  max-width: 445px;
  max-height: 292px;
  flex: 1 1 445px;
  justify-content: space-between;
  align-items: flex-start;
}
.container__flex_item-2 {
  flex: 0 0 265px;
  justify-content: space-between;
}
.container__flex-item-2__inner {
  height: 125px;
  justify-content: space-around;
}
/*----------==========----------*/
.slider_wrap {
  max-width: 1920px;
  box-sizing: content-box;
}
.slider {
  height: 550px;
  margin: 0 0 150px 0;
  overflow: hidden;
}
.slider-item {
}
/*----------==========----------*/
.progress_wrap {
  max-width: 1920px;
  height: 550px;
}
.progress {
  max-width: 1110px;
  position: relative;
  height: 550px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
}
.progress__img {
  position: absolute;
  top: calc(50% - 275px);
  left: calc(50% - 555px);
  z-index: 1;
}
.progress__inner {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  z-index: 2;
  top: calc(50% - 150px);
  left: calc(50% - 375px);
  width: 770px;
  height: 300px;
  margin: auto;
}
.progress__years {
  height: 298px;
  width: 190px;
}
.progress__years-link {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #d1a954;
}
.progress__inf-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 125px;
}
.progress__stars {
  font-size: 40px;
  color: #d1a954;
  margin-bottom: 30px;
}
.progress__info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}
/*----------==========----------*/
.aside_wrap {
  margin: auto;
  max-width: 1034px;
  box-sizing: content-box;
}
.aside__grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 80px;
}
.aside__grid-img {
  width: 100%;
  height: auto;
}
/*----------==========----------*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 1110px;
  height: 633px;
}
.footer__head {
  padding: 120px 0 0px 0;
}
.footer__container {
  height: 190px;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  max-width: 380px;
  height: 190px;
}
.contact_flex-right {
  height: 50%;
}
.contact_flex-left {
  height: 50%;
}
.contact_flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact__flex-link {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__form-grid {
  display: grid;
  grid-template-columns: 180px 180px minmax(270px, 310px);
  grid-template-rows: 35px 35px;
  grid-gap: 30px;
}
.footer__textarea {
  padding: 10px 0 0 15px;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background: #444444;
  border: 1px solid #616161;
  box-sizing: border-box;
  font-weight: 600;
  resize: none;
}
.footer__input {
  padding-left: 15px;
  background: #444444;
  border: 1px solid #616161;
  box-sizing: border-box;
  font-weight: 600;
}
.footer__form__bot {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__form__bot__info {
  max-width: 390px;
}
.footer__form__bot__btn {
  height: 50px;
  text-align: center;
  background: #d1a954;
  flex: 0 0 190px;
}
.footer__copr {
  height: 79px;
  border-top: 1px solid #565656;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*----------==========----------*/
@media screen and (max-width: 1430px) {
  .header__content {
    padding-left: 65px;
    box-sizing: content-box;
  }
  .header__content-logo-wrap {
    padding-left: 70px;
    box-sizing: content-box;
  }
  .header__menu {
    padding-left: 50px;
  }
  .header-phone-number {
    position: absolute;
    top: 12%;
    left: calc(50% - 87px);
  }
  .header__menu-items {
    width: 1110px;
  }
}
@media screen and (max-width: 1200px) {
  .header__left-nav {
    z-index: -1;
  }
  .left-nav__burger {
    display: block;
  }
  .header__menu {
    padding-left: 150px;
  }
  .header__content {
    padding-left: 10px;
    box-sizing: border-box;
  }
  .header__content-logo-wrap {
    padding-left: 0px;
    box-sizing: border-box;
  }
  .section {
    padding: 0 10px 0 10px;
  }
}
@media screen and (max-width: 1130px) {
  .container__flex_item-3 {
    display: none;
  }
  .section__container {
    justify-content: space-evenly;
  }
  .section__container {
    gap: 15px;
  }
  .footer {
    padding: 0 10px 0 10px;
  }
  .aside_wrap {
    padding: 0 10px 0 10px;
  }
  .aside__grid-wrap {
    padding: 0 10px 0 10px;
    gap: 50px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper-page {
    margin: 0 0 0 0;
  }
  .h2-padding {
    padding: 100px 0 50px 0;
  }
  .header {
    height: 800px;
  }
  .header__content {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
  }
  .header__content-logo-wrap {
    height: 675px;
  }
  .header__content__book {
    display: none;
  }
  .header__content-logo-info {
    width: 60%;
  }
  .header__content-theater {
    height: 675px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header__left-nav {
    width: 300px;
    height: 800px;
  }
  .header-phone-number {
    top: 6%;
    right: 9%;
    left: auto;
  }
  .container__flex_item-1_text {
    margin: 0;
  }
  .left-nav__social-box {
    position: absolute;
    top: 534px;
    left: 80px;
    width: 140px;
    height: 140px;
    grid-template: 45px 45px / 45px 45px;
    gap: 40px;
  }
  .left-nav__social-link {
    margin: 0;
    padding: 0;
    height: 45px;
    width: 45px;
  }
  .left-nav__vert-line {
    display: none;
  }
  .left-nav__contact-info {
    display: none;
  }
  body .header__menu-items {
    height: 305px;
    width: 250px;
    position: absolute;
    top: 130px;
    left: 40px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20;
  }
  .left-nav__burger {
    top: 20px;
    left: 40px;
  }
  .progress_wrap {
    margin-top: 80px;
  }
  .slider {
    margin-bottom: 0;
  }
  .aside__grid-wrap {
    gap: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 605px;
  }
  .footer__container {
    height: 309px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__form {
    width: 690px;
  }
  .footer__contact {
    min-width: 690px;
    display: flex;
    justify-content: space-between;
  }
  .link-align {
    align-self: flex-end;
  }
  .contact_flex-column {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .progress__inf-box {
    margin-left: 25px;
  }
  .progress__inner {
    left: calc(50% - 314px);
  }
  .progress__years-link {
    letter-spacing: 0.04em;
    font-size: 60px;
  }
  .footer {
    height: 794px;
  }
  .footer__container {
    height: 500px;
  }
  .footer__form__bot {
    height: 200px;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .footer__form__bot__info {
    height: 60px;
  }
  .footer__form__bot__btn {
    flex: 0 0 50px;
    width: 190px;
  }
  .footer__form {
    width: 100%;
    height: 400px;
  }
  .footer__form-grid {
    grid-template-columns: minmax(180px, 230px) minmax(180px, 230px);
    grid-template-rows: 35px 35px 100px;
    justify-content: center;
  }
  .footer__textarea {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
  .footer__contact {
    margin: 0 10px 0 10px;
    width: 100%;
    min-width: 320px;
    max-width: 690px;
    height: 100px;
    align-items: center;
  }
}
@media screen and (max-width: 710px) {
  h1 {
    text-align: center;
  }
  .section__container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .container__flex_item-1 {
    max-width: 550px;
    max-height: 230px;
    text-align: center;
    align-items: center;
  }
  .container__flex_item-2 {
    flex: 0 0 200px;
    margin-top: 30px;
  }
  .container__flex-item-2-wrap {
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .h2-padding {
    padding: 50px 0 25px 0;
  }
  .aside_wrap {
    max-height: 600px;
  }
  .aside__grid-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
  }
  .footer__form__bot__info {
    margin: 0;
  }
}
@media screen and (max-width: 670px) {
  .progress__years {
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    align-items: center;
  }
  .progress__inner {
    flex-direction: column;
    height: 400px;
    width: 100vw;
    top: calc(50% - 200px);
    left: calc(50% - (100vw / 2));
  }
  .progress__inf-box {
    height: 100%;
    margin-left: 0;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .aside_wrap {
    max-height: 600px;
  }
  .container__flex_item-1 {
    max-width: 550px;
    max-height: 285px;
  }
  .footer {
    height: 895px;
    margin: 0 2px 0 2px;
  }
  .footer__form-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__input {
    width: 250px;
    height: 35px;
  }
  .footer__textarea {
    width: 90%;
    height: 100px;
  }
  .footer__form__bot {
    max-height: 190px;
  }
  .footer__contact {
    margin-bottom: 15px;
    max-height: 115px;
    flex-direction: column;
  }
  .link-align {
    align-self: center;
  }
  .contact__flex-link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
  .footer__form__bot__btn {
    margin: 20px 0 20px;
  }
  .footer__container {
    height: 607px;
  }
  .footer__form {
    height: 100%;
  }
}
@media screen and (max-width: 420px) {
  .left-nav__burger {
    top: 23px;
    left: 15px;
  }
  h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 0.01em;
  }
  .header__content-logo-info {
    width: 90%;
  }
  .theater-btn-poster {
    margin-top: 20px;
  }
  .header__menu {
    height: 100px;
  }
  .header__content-logo-wrap {
    height: 468px;
  }
  .header__content-theater {
    height: 468px;
  }
  .header__content {
    height: 558px;
  }
  .header {
    height: 558px;
  }
  .header__left-nav {
    height: 558px;
    background: rgba(51, 51, 51, 1);
  }
  .left-nav__social-box {
    top: 400px;
    left: 50px;
  }
  body .header__menu-items {
    top: 90px;
  }
  .container__flex_item-1 {
    max-height: 420px;
    justify-content: space-evenly;
  }
  .h2-padding {
    letter-spacing: 0.01em;
    font-size: 44px;
  }
  .progress__inner {
    justify-content: space-between;
    height: 550px;
    top: calc(50% - 275px);
  }
  .progress__years {
    flex-direction: column;
    height: 220px;
  }
  .progress__inf-box {
    height: 330px;
  }
  .progress__years-link {
    line-height: 50px;
  }
  .progress__stars {
    margin-bottom: 45px;
  }
  .footer__form__bot__info {
    height: 100px;
  }
}
/*    --JS_Styles--    */
.left-nav__social-menu__display-block {
  z-index: 10;
}
body .to-left-nav {
  display: flex;
}
.left-nav__social-box-grid {
  display: grid;
}
.burger_ico:after {
  content: '\2630';
  color: #fff;
}
.burger_ico-close:after {
  content: '\1F7AD';
  color: #fff;
}
